ros_distro: humble
ros_domain_id: 0
registry: docker.io/dragomirxyz
image_prefix: leremix
workplace_folder: ros


hosts:
  - name: orin
    ip: odin.lan
    manager: true
    user: cdr
    arch: arm64
    dds_ip: 192.168.50.2
    mount_root: /home/cdr/robocore-artifacts

  - name: pi
    ip: leremix-pi.lan
    user: ubuntu 
    arch: arm64
    dds_ip: 192.168.50.1
    mount_root: /home/ubuntu/robocore-artifacts


common_packages:
  - name: leremix_description
    source: 
      - ros/src/leremix_description

components:

  - name: motion
    source:
    - ros/src/leremix_control
    - ros/src/leremix_control_plugin
    - ros/src/leremix_servo_manager
    runs_on: pi
    apt_packages: []
    pip_packages:
      - st3215
    repositories:
      - url: https://github.com/mateusmenezes95/omnidirectional_controllers
        version: humble
        folder: omnidirectional_controllers
    entrypoint: ros2 launch leremix_control motion.launch.py servo_port:=/dev/ttyACM0

    devices:
      - /dev/ttyACM0:/dev/ttyACM0

    optimisations: 
      - rt: true
      - shm: 512m
      - mount_shm: true
      - ipc: host
      - pinned_cores: [0, 1]

  - name: lidar
    runs_on: pi
    apt_packages: []
    pip_packages: []
    devices: 
        - /dev/ttyUSB0:/dev/ttyUSB0
    repositories:
      - url: https://github.com/Slamtec/rplidar_ros
        version: ros2
        folder: rplidar_ros
    entrypoint: ros2 launch rplidar_ros rplidar_c1_launch.py

  - name: imu
    runs_on: pi
    source:
    - ros/src/leremix_imu
    pip_packages: 
      - adafruit-circuitpython-icm20x
    environment:
      BLINKA_FORCECHIP: BCM2XXX 
      BLINKA_FORCEBOARD: GENERIC_LINUX_PC
    devices:
      - /dev/i2c-1:/dev/i2c-1
    entrypoint: ros2 launch leremix_imu imu.launch.py

  - name: camera
    runs_on: orin
    source: 
      - ros/src/leremix_camera
    devices:
      - /dev:/dev
    entrypoint: ros2 launch leremix_camera camera.launch.py
    
  - name: xbox
    runs_on: pi
    source: 
      - ros/src/leremix_teleop_xbox
    devices:
      - /dev/input/js0:/dev/input/js0
    entrypoint: ros2 launch leremix_teleop_xbox teleop_xbox.launch.py

  - name: rosboard
    runs_on: orin
    apt_packages: []
    pip_packages: 
      - tornado
      - simplejpeg
    repositories:
      - url: https://github.com/dheera/rosboard
        version: main
        folder: rosboard
    entrypoint: ros2 run rosboard rosboard_node