version: '3.8'
services:
  simulation:
    image: nx128.lan:5000/robocore/leremix_sim_simulation:latest
    network_mode: host
    volumes:
      - "/home/cdr/Work/robocore/projects/LeRemix/.robocore/build/simulation/ros_ws:/ros_ws:rw"
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - "${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority:ro"
      - "gz_fuel_cache:/root/.gz/fuel"
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=jazzy
      - ROS_DISCOVERY_SERVER=localhost
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/jazzy/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /vcs_ws/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_gazebo sim.launch.py 
      "
  xbox:
    image: nx128.lan:5000/robocore/leremix_sim_xbox:latest
    network_mode: host
    privileged: true
    volumes:
      - "/home/cdr/Work/robocore/projects/LeRemix/.robocore/build/xbox/ros_ws:/ros_ws:rw"
    devices:
        - "/dev/input:/dev/input"
    cap_add:
        - SYS_RAWIO
        - NET_ADMIN
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=jazzy
      - ROS_DISCOVERY_SERVER=localhost
    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/jazzy/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_teleop_xbox teleop_xbox.launch.py 
      "
  rosboard:
    image: nx128.lan:5000/robocore/leremix_sim_rosboard:latest
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=jazzy
      - ROS_DISCOVERY_SERVER=localhost
    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/jazzy/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /vcs_ws/install/setup.bash && \ros2 run rosboard rosboard_node 
      "
  slam:
    image: nx128.lan:5000/robocore/leremix_sim_slam:latest
    network_mode: host
    volumes:
      - "/home/cdr/Work/robocore/projects/LeRemix/.robocore/build/slam/ros_ws:/ros_ws:rw"
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=jazzy
      - ROS_DISCOVERY_SERVER=localhost
    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/jazzy/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_slam online_mapping_launch.py 
      "
  dds_server:
    image: nx128.lan:5000/robocore/leremix_sim_base:jazzy-latest
    container_name: dds_server
    network_mode: host
    environment:
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    command: >
      bash -lc "
        source /opt/ros/jazzy/setup.bash &&
        fastdds discovery -i 0 -l localhost -p 11811
      "

volumes:
  gz_fuel_cache:
