version: '3.8'
services:



  camera:
    image: docker.io/dragomirxyz/leremix_camera:latest
    network_mode: host

    volumes:
      - "/home/cdr/robocore-artifacts/camera/ros_ws:/ros_ws:rw"

    devices:
        - "/dev:/dev"

    cap_add:
        - SYS_RAWIO
        - NET_ADMIN



    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=humble
      - ROS_DISCOVERY_SERVER=192.168.50.2




    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/humble/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_camera camera.launch.py 
      "
  rosboard:
    image: docker.io/dragomirxyz/leremix_rosboard:latest
    network_mode: host






    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=humble
      - ROS_DISCOVERY_SERVER=192.168.50.2




    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/humble/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /vcs_ws/install/setup.bash && \ros2 run rosboard rosboard_node 
      "


  dds_server:
    image: docker.io/dragomirxyz/leremix_base:humble-latest
    container_name: dds_server
    network_mode: host
    environment:
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    command: >
      bash -lc "
        source /opt/ros/humble/setup.bash &&
        fastdds discovery -i 0 -l 192.168.50.2 -p 11811
      "
