version: '3.8'
services:



  motion:
    image: docker.io/dragomirxyz/leremix_motion:latest
    network_mode: host

    volumes:
      - "/home/ubuntu/robocore-artifacts/motion/ros_ws:/ros_ws:rw"
      - "/dev/shm:/dev/shm:rw"

    devices:
        - "/dev/ttyACM0:/dev/ttyACM0"

    cap_add:
        - SYS_RAWIO
        - NET_ADMIN
        - IPC_LOCK
        - SYS_NICE

    security_opt:
        - seccomp:unconfined
    ulimits:
      memlock:
        soft: -1
        hard: -1
      rtprio: 99
      nice: -20


    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=humble
      - ROS_DISCOVERY_SERVER=localhost

    shm_size: 512m

    ipc: host

    cpuset: "0,1"

    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/humble/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /vcs_ws/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_control motion.launch.py servo_port:=/dev/ttyACM0 
      "
  lidar:
    image: docker.io/dragomirxyz/leremix_lidar:latest
    network_mode: host


    devices:
        - "/dev/ttyUSB0:/dev/ttyUSB0"

    cap_add:
        - SYS_RAWIO
        - NET_ADMIN



    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=humble
      - ROS_DISCOVERY_SERVER=localhost




    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/humble/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /vcs_ws/install/setup.bash && \ros2 launch rplidar_ros rplidar_c1_launch.py 
      "
  imu:
    image: docker.io/dragomirxyz/leremix_imu:latest
    network_mode: host

    volumes:
      - "/home/ubuntu/robocore-artifacts/imu/ros_ws:/ros_ws:rw"

    devices:
        - "/dev/i2c-1:/dev/i2c-1"

    cap_add:
        - SYS_RAWIO
        - NET_ADMIN



    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=humble
      - ROS_DISCOVERY_SERVER=localhost
      - BLINKA_FORCECHIP=BCM2XXX
      - BLINKA_FORCEBOARD=GENERIC_LINUX_PC




    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/humble/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_imu imu.launch.py 
      "
  xbox:
    image: docker.io/dragomirxyz/leremix_xbox:latest
    network_mode: host

    volumes:
      - "/home/ubuntu/robocore-artifacts/xbox/ros_ws:/ros_ws:rw"

    devices:
        - "/dev/input/js0:/dev/input/js0"

    cap_add:
        - SYS_RAWIO
        - NET_ADMIN



    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=humble
      - ROS_DISCOVERY_SERVER=localhost




    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/humble/setup.bash && \# source common packages from base image
        source /ros_ws_common/install/setup.bash && \source /ros_ws/install/setup.bash && \ros2 launch leremix_teleop_xbox teleop_xbox.launch.py 
      "


