<?xml version="1.0"?>
<robot name="LeRemix" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Base model from description -->
    <xacro:include filename="$(find leremix_description)/urdf/LeRemix.xacro"/>

    <ros2_control name="leremix_hardware" type="system">
        <hardware>
            <plugin>leremix_control_plugin/Esp32SystemTopic</plugin>
            <param name="base_cmd_topic">/esp32/base_cmd</param>
            <param name="arm_cmd_topic">/esp32/arm_cmd</param>
            <param name="head_cmd_topic">/esp32/head_cmd</param>
            <param name="state_topic">/esp32/joint_states</param>
            <param name="publish_if_unchanged">true</param>
        </hardware>
        

        <joint name="wheel3_rotation">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="wheel1_rotation">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="wheel2_rotation">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="1">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="2">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="3">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="4">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="5">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="6">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="camera_tilt">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="camera_pan">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

    </ros2_control>



</robot>
