<?xml version="1.0"?>
<model>
  <name>subt_niosh_tunnel_staging_area</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <author>
    <name>Ian Chen</name>
    <email>ichen@openrobotics.org</email>
  </author>

  <description>
    A staging area designed for subt NIOSH tunnel scenarios.
  </description>
<depend><model><uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/NIOSH Staging Area</uri></model></depend></model>
