<?xml version="1.0"?>
<model>
  <name>Jenolan Section 01</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <description>
    Part 01 of the Jenolan SubT world.
  </description>
<depend><model><uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/Jenolan Section 01</uri></model></depend></model>
