<?xml version="1.0"?>
<model>
  <name>urban cave transition straight</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    A straight transition tile between urban and cave domains.
  </description>

  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/urban platform</uri>
    </model>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/cave straight</uri>
    </model>
  </depend>

</model>
