<?xml version="1.0"?>

<model>
  <name>Rail Tunnel Straight Overlap</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Straight overlapping rail section for a tunnel.
  </description>
</model>
