<?xml version="1.0"?>
<model>
  <name>4-way finals transition 2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    A transition tile between tunnel, urban, and cave domains.
  </description>

  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/tunnel tile 1</uri>
    </model>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/cave straight</uri>
    </model>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/4-way finals transition 2 lights</uri>
    </model>
  </depend>

</model>
